

$fontLatoRegular: 'Lato-Regular';
$fontLatoMedium: 'Lato-Medium';
$fontLatoSemibold: 'Lato-Semibold';
$fontLatoBlack: 'Lato-Black';
$fontLatoLight: 'Lato-Light';
$fontLatoBold: 'Lato-Bold';

// ../fonts

$colorPink: #ff2e63;
$colorWhite: #ffffff;
$colorDarkGrey: #252a34;
$colorLightGrey: #bababa;
$colorAqua: #08d9d6;

