/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Lato-Semibold";
  font-size: 14px; }
  * .head-section {
    font-size: 25px;
    font-family: "Lato-Black";
    padding: 115px 0 35px 0; }

#header .container-fluid {
  background: #252a34;
  font-size: 15px;
  font-family: "Lato-Light"; }

#header .navbar {
  padding: 0 1rem; }
  #header .navbar .navbar-brand {
    padding-right: 70px; }
  #header .navbar .dropdown-menu {
    font-size: 12px;
    font-family: "Lato-Medium";
    color: #252a34;
    background: rgba(145, 142, 140, 0.8); }
    #header .navbar .dropdown-menu .dropdown-item {
      padding: 0.5rem 1.5rem; }

#header .dropdown-item:hover,
#header .dropdown-item:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff2e63; }

#header .navbar .navbar-collapse .navbar-nav .active {
  font-weight: 900; }

#header .navbar-light .navbar-nav .nav-link {
  color: #ffffff; }

#header .navbar-expand-lg .navbar-nav .nav-item {
  padding-right: 35px;
  padding-left: 35px; }

#header .navbar-expand-lg .navbar-nav .sign-link {
  padding-left: 70px;
  line-height: 1.2em; }

#header .navbar-expand-lg .navbar-nav .heart-link {
  padding-left: 25px;
  padding-right: 25px; }

#header .fa-user,
#header .fa-heart,
#header .fa-shopping-basket {
  font-size: 30px; }

#header .fa-user {
  padding-right: 5px; }

#header .fa-heart {
  color: #ff2e63;
  position: relative; }
  #header .fa-heart .square {
    width: 20px;
    height: 14px;
    background: #ffffff;
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: -3px 3px 0px 0px #252a34;
    top: -8px;
    left: 24px; }
    #header .fa-heart .square span {
      font-size: 10px;
      font-family: "Lato-Black";
      color: #252a34;
      top: 2px;
      position: absolute;
      left: 7px; }

#header .fa-shopping-basket {
  position: relative; }
  #header .fa-shopping-basket .square {
    width: 20px;
    height: 14px;
    background: #ffffff;
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: -3px 3px 0px 0px #252a34;
    top: -8px;
    left: 31px; }
    #header .fa-shopping-basket .square span {
      font-size: 10px;
      font-family: "Lato-Black";
      color: #252a34;
      top: 2px;
      position: absolute;
      left: 4px; }

#header .banner {
  background: url(../images/Banner.png) 100% 100% no-repeat;
  height: 100vh;
  background-size: cover;
  padding-right: 70px; }
  #header .banner .scroll-down {
    font-size: 14px;
    font-family: "Lato-Bold";
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 75vh;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px #000000, 0 0 30px black, 0 0 40px black, 0 0 55px black, 0 0 75px #000000; }
    #header .banner .scroll-down span {
      position: relative; }
      #header .banner .scroll-down span:before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #08d9d6;
        position: absolute;
        box-shadow: 1px 1px 15px 9px #000000;
        bottom: -30px;
        left: 44px; }
      #header .banner .scroll-down span:after {
        content: '';
        width: 2px;
        height: 55px;
        background: #08d9d6;
        position: absolute;
        top: 30px;
        left: 50px; }

.section-top-sellers .product-card {
  box-shadow: 1px 1px 8px 3px #bababa;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 260px;
  min-height: 370px;
  margin: 25px 15px;
  position: relative;
  transition: 0.6s; }
  .section-top-sellers .product-card .fa-heart {
    position: absolute;
    color: #bababa;
    font-size: 22px;
    top: 15px;
    left: 15px;
    transition: 0.4s; }
    .section-top-sellers .product-card .fa-heart:hover {
      color: #ff2e63;
      font-size: 26px; }
  .section-top-sellers .product-card .product-card-img {
    max-width: 180px;
    height: 180px;
    padding: 30px 0; }
    .section-top-sellers .product-card .product-card-img img {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .section-top-sellers .product-card .product-card-title {
    font-family: "Lato-Bold"; }
  .section-top-sellers .product-card .product-card-price {
    font-family: "Lato-Black";
    font-size: 18px; }
  .section-top-sellers .product-card .product-card-button {
    background: #bababa;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato-Black";
    color: #ffffff;
    font-size: 16px; }

.section-top-sellers .product-card:hover {
  box-shadow: 1px 1px 8px 3px #08d9d6;
  cursor: pointer; }
  .section-top-sellers .product-card:hover .product-card-button {
    background: #08d9d6; }
