/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Lato-Semibold";
  font-size: 14px; }
  * a {
    text-decoration: none !important;
    color: inherit; }
    * a:hover {
      text-decoration: none !important;
      color: inherit; }

#header .container-fluid {
  background: #252a34;
  font-size: 15px;
  font-family: "Lato-Light"; }

#header .navbar {
  padding: 0 1rem; }
  #header .navbar button:focus {
    outline: none; }
  #header .navbar .button-menu {
    width: 30px;
    height: 2px;
    background: #ffffff;
    display: block;
    position: relative; }
    #header .navbar .button-menu::before {
      content: '';
      width: 30px;
      height: 2px;
      background: #ffffff;
      position: absolute;
      top: -10px;
      left: 0; }
    #header .navbar .button-menu::after {
      content: '';
      width: 30px;
      height: 2px;
      background: #ffffff;
      position: absolute;
      top: 10px;
      left: 0; }
  #header .navbar .navbar-brand {
    padding-right: 70px; }
  #header .navbar .dropdown-menu {
    font-size: 12px;
    font-family: "Lato-Medium";
    color: #252a34;
    background: rgba(145, 142, 140, 0.8); }
    #header .navbar .dropdown-menu .dropdown-item {
      padding: 0.5rem 1.5rem; }

#header .dropdown-item:hover,
#header .dropdown-item:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff2e63; }

#header .navbar .navbar-collapse .navbar-nav .active {
  font-weight: 900; }

#header .navbar-light .navbar-nav .nav-link {
  color: #ffffff; }

#header .navbar-expand-xl .navbar-nav .nav-item {
  padding-right: 35px;
  padding-left: 35px; }

#header .navbar-expand-xl .navbar-nav .sign-link {
  padding-left: 70px;
  line-height: 1.2em; }

#header .navbar-expand-xl .navbar-nav .heart-link {
  padding-left: 25px;
  padding-right: 25px; }

#header .fa-user,
#header .fa-heart,
#header .fa-shopping-basket {
  font-size: 30px; }

#header .fa-user {
  padding-right: 5px; }

#header .fa-heart {
  color: #ff2e63;
  position: relative; }
  #header .fa-heart .square {
    width: 20px;
    height: 14px;
    background: #ffffff;
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: -3px 3px 0px 0px #252a34;
    top: -8px;
    left: 24px; }
    #header .fa-heart .square span {
      font-size: 10px;
      font-family: "Lato-Black";
      color: #252a34;
      top: 2px;
      position: absolute;
      left: 7px; }

#header .fa-shopping-basket {
  position: relative; }
  #header .fa-shopping-basket .square {
    width: 20px;
    height: 14px;
    background: #ffffff;
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: -3px 3px 0px 0px #252a34;
    top: -8px;
    left: 31px; }
    #header .fa-shopping-basket .square span {
      font-size: 10px;
      font-family: "Lato-Black";
      color: #252a34;
      top: 2px;
      position: absolute;
      left: 4px; }

#header .banner {
  background: url(../images/Banner.png) 100% 100% no-repeat;
  height: 100vh;
  background-size: cover;
  padding-right: 70px; }
  #header .banner .scroll-down {
    font-size: 14px;
    font-family: "Lato-Bold";
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 75vh;
    padding-left: 55px;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px #000000, 0 0 30px black, 0 0 40px black, 0 0 55px black, 0 0 75px #000000; }
    #header .banner .scroll-down span {
      position: relative; }
      #header .banner .scroll-down span:before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #08d9d6;
        position: absolute;
        box-shadow: 1px 1px 15px 9px #000000;
        bottom: -30px;
        left: 44px; }
      #header .banner .scroll-down span:after {
        content: '';
        width: 2px;
        height: 55px;
        background: #08d9d6;
        position: absolute;
        top: 30px;
        left: 50px; }

.section-top-sellers .head-section,
.section-discounted-products .head-section {
  font-size: 25px;
  font-family: "Lato-Black";
  padding: 115px 0 35px 0; }

.section-top-sellers .product-card,
.section-discounted-products .product-card {
  box-shadow: 1px 1px 8px 3px #f3f3f3;
  margin: 25px 15px;
  position: relative;
  border-radius: 5px;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  transition: 0.6s; }
  .section-top-sellers .product-card .flag-discont,
  .section-discounted-products .product-card .flag-discont {
    background: url(../images/discont-bg.png);
    position: absolute;
    width: 80px;
    height: 20px;
    color: #ffffff;
    font-family: "Lato-Bold";
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.3em;
    right: 0;
    top: 35px; }
    .section-top-sellers .product-card .flag-discont span,
    .section-discounted-products .product-card .flag-discont span {
      padding-left: 10px; }
  .section-top-sellers .product-card .fa-heart,
  .section-discounted-products .product-card .fa-heart {
    position: absolute;
    color: #bababa;
    font-size: 22px;
    top: 30px;
    left: 20px;
    transition: 0.4s; }
    .section-top-sellers .product-card .fa-heart:hover,
    .section-discounted-products .product-card .fa-heart:hover {
      color: #ff2e63;
      font-size: 26px; }
  .section-top-sellers .product-card .product-card-img,
  .section-discounted-products .product-card .product-card-img {
    width: 220px;
    max-height: 210px;
    padding: 50px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-top-sellers .product-card .product-card-img img,
    .section-discounted-products .product-card .product-card-img img {
      max-width: 100%;
      padding: 4px 8px; }
  .section-top-sellers .product-card .product-card-title,
  .section-discounted-products .product-card .product-card-title {
    font-family: "Lato-Bold";
    padding-top: 20px; }
  .section-top-sellers .product-card .product-card-price,
  .section-discounted-products .product-card .product-card-price {
    font-family: "Lato-Black";
    font-size: 18px;
    padding: 35px 0 30px; }
  .section-top-sellers .product-card .product-card-button,
  .section-discounted-products .product-card .product-card-button {
    background: #bababa;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato-Black";
    color: #ffffff;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.section-top-sellers .product-card:hover,
.section-discounted-products .product-card:hover {
  box-shadow: 0px -3px 9px -1px #08d9d6;
  cursor: pointer; }
  .section-top-sellers .product-card:hover .product-card-button,
  .section-discounted-products .product-card:hover .product-card-button {
    background: #08d9d6;
    cursor: pointer; }

.section-discounted-products {
  padding-bottom: 240px; }
  .section-discounted-products .head-section {
    padding-top: 90px; }

#footer .container-fluid {
  background: #252a34;
  color: #08d9d6;
  border-bottom: 2px solid #ff2e63;
  display: flex;
  justify-content: center; }
  #footer .container-fluid .social-links {
    font-size: 23px; }
    #footer .container-fluid .social-links i {
      margin: 15px; }
      #footer .container-fluid .social-links i:hover {
        color: #ffffff; }

#footer .container span {
  padding: 10px 0;
  color: #bababa;
  font-size: 10px; }

#footer .container .copyright {
  font-family: "Lato-Regular"; }

#footer .container .created {
  font-family: "Lato-Medium"; }

@media screen and (max-width: 1467px) {
  #header .navbar-expand-lg .navbar-nav .nav-item {
    padding-right: 25px;
    padding-left: 25px; }
  #header .navbar-expand-lg .navbar-nav .sign-link {
    padding-left: 50px;
    line-height: 1.2em; }
  #header .navbar-expand-lg .navbar-nav .heart-link {
    padding-left: 15px;
    padding-right: 15px; } }

@media screen and (max-width: 1284px) {
  #header .navbar-expand-lg .navbar-nav .nav-item {
    padding-right: 15px;
    padding-left: 15px; }
  #header .navbar-expand-lg .navbar-nav .sign-link {
    padding-left: 30px;
    line-height: 1.2em; }
  #header .navbar-expand-lg .navbar-nav .heart-link {
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (max-width: 1199px) {
  .section-top-sellers .product-card .product-card-img,
  .section-discounted-products .product-card .product-card-img {
    width: 190px;
    height: 180px; } }

@media screen and (max-width: 1124px) {
  #header .navbar {
    flex-direction: column; }
    #header .navbar .navbar-brand {
      padding-right: 0; } }

@media screen and (max-width: 992px) {
  #header .navbar {
    flex-direction: row; }
  .navbar-light .navbar-toggler {
    border-color: transparent; }
  .section-top-sellers .row {
    justify-content: center; }
  .section-discounted-products .row {
    justify-content: center; } }

@media screen and (max-width: 768px) {
  .section-top-sellers .head-section,
  .section-discounted-products .head-section {
    font-size: 22px;
    font-family: "Lato-Black";
    padding: 80px 0 20px 0;
    display: flex;
    justify-content: center; }
  .section-discounted-products {
    padding-bottom: 40px; } }

@media screen and (max-width: 420px) {
  #footer .container .created,
  #footer .container .copyright {
    text-align: center; } }
